@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  margin: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  text-align: center;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  margin: 0 auto;
}

.padding-container {
  /* padding: 0 70px; */
  padding-left: 70px;
  padding-right: 70px;
}

.page-header {
  /* display: flex;
  align-items: center;
  text-align: center;
  column-gap: 30px;
  margin: 0; */

  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 30px;
padding: 0;
min-height: 64px;
margin: 0;
}

.navigation-logo {
  width: 138px;
  /* margin-left: 64px;
  margin-right: 30px; */
  position: absolute;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: 1060px;

}

.navigation-list {
  /* flex-wrap: wrap;
  width: 450px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none; */

  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;

margin: 0;
list-style-type: none;
padding-inline-start: 0;
flex-wrap: wrap;
  max-width: 450px;
  margin-left: 168px;
}

.navigation-link {
  /* font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px; */

  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 8px;

font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

/* .navigation-link-current {
  border-bottom: 2px solid #756257;
} */

.navigation-link-current:before {
  content: '';
  background-color: #756257;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
}

.navigation-user {
  /* display: flex;
  max-width: 320px;
  margin-left: auto;
  margin-block-end: auto;
  padding: 0; */

  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
/* gap: 20px; */
margin-left: auto;
flex-wrap: wrap;
max-width: 320px;
}

.navigation-user-here {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 22px 12px;

  /* display: flex;
align-items: center;
justify-content: center;
background-repeat: no-repeat;
padding: 22px 12px;
background-position: center;
min-width: 44px; */
}

.navigation-user-link-search{
  background-image: url("../images/icons/search.svg");
  /* margin-right: 0; */
}

.navigation-user-link-favorite {
  background-image: url("../images/icons/heart.svg");
  margin-right: 20px;
}

.likes-number {
  position: absolute;
  padding: 5px 5px 5px 4px;
  top: 11px;
    right: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 20px;
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  background-color: #7db54f;
}

.link-button {
  /* display: inline-flex;
  text-decoration: none; */
}

.link-button-here {
  padding-left: 34px;
  padding-right: 34px;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #d6968a;
  background-image: url("../images/index/divider.svg"), url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  min-height: 485px;
  padding-top: 51px;
}

.welcome {

  /* margin-top: 51px; */
  /* margin-bottom: 82px; */
  /* display: block; */
  /* margin: 0 auto; */
  /* margin: 0; */
}

.arizona {
  padding: 69px 0;
  margin: 0;
}

.text-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.text-title-arizona {
  margin-bottom: 25px;
}

.text-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

/* List */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.information-card {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
}

/* .information-card:not(.information-card-corner) {
  padding: 112px 85px;
} */

.information-card-middle {
  background: rgba(131, 179, 211, 0.12);
}

.information-card-center {
  background: rgba(131, 179, 211, 0.2);
}

.information-card-corner {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #82b3d3;
  width: 100%;
  padding: 0;
}

.information-card-corner-wraper {
  min-width: 400px;
  padding: 102px 85px;
}

.information-card-wraper {
  padding-top: 112px;
  padding-bottom: 112px;
}

.information-card-service-wraper {
  padding-top: 81px;
  padding-bottom: 81px;
}

.information-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 60px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: -30px;
}

.advantages-title-corner {
  position: relative;
}

.advantages-title-corner:before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 60px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  left: 50%;
  margin-left: -30px;
}

.information-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.information-description-corner {
  color: #ffffff;
}

.advantages-image {
  object-fit: cover;
  /* height: 100%; */
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-title::before {
content: "";
display: block;
width: 75px;
height: 72px;
margin: 0 auto;
margin-bottom: 30px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.service-title-food {
  background-image: url("../images/index/advantage-icon-food.svg");
}

.rest {
  padding: 64px 0;
}

.interest {
  padding: 96px 0;
}

.button-big {
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.button-search {
  padding: 8px 50px;
}

.subscription {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-main-img {
  background-color: #756157;
  background-image: url("../images/index/subscribe-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 684px;
}

.text-description-background {
  color: #ffffff;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  /* width: 452px; */
  width: 100%;
  background-color: #f2f2f2;
  border: none;
}

.newsletter-button {
  flex-direction: row;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  width: 232px;
  background: #82b3d3;
}

.page-footer {
  /* text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px; */
  min-height: 120px;
  display: flex;

  margin: 0;
  padding: 0 70px;
  width: 100%;
}

.page-footer-container {
  /* display: flex;
  margin: 0 auto; */
  display: flex;
align-items: center;
justify-content: center;
/* flex-direction: row; */
gap: 40px;
width: 100%;
}

.social-list {
  flex-wrap: wrap;
  width: 200px;
  margin-right: 200px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* margin-right: auto; */
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  color: #83b3d3;
}

.button-icon:hover .social-icon {
  color: #68a2ca;
  /* fill: #68a2ca; */
}

.social-icon:focus {
  color: #68a2ca;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.contact {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  text-decoration: none;
}

.partner-link {
  /* display: flex
  ;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row; */
      /* gap: 20px; */
      /* margin-left: auto;
      flex-wrap: wrap; */

display: flex;

      margin-left: auto;
  max-width: 230px;
}

.academy {
  color: #000000;
}

.hotel-search {
  /* display: flex; */
  background-color: #756157;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* min-height: 100%; */
  margin: 0 auto;
  padding-bottom: 70px;
}

.catalog-filter-heading {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.input-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2px;
  width: 288px;
  height: 48px;
}

.input-container {
  position: relative;
}

.input-number {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 20px;
  width: 143px;
  background: #f2f2f2;
  border: none;
}

.from {
  border-radius: 4px 0 0 4px;
}

.input-text {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, .3);
}

.to {
  border-radius: 0 4px 4px 0;
  padding: 12px 20px;
}

.range {
  width: 287px;
  height: 20px;
}

.application-button {
  width: 191px;
  background-color: #82b3d3;
}

.reset-button {
  width: 191px;
  background-color: transparent;
}

.catalog-hotels {
  /* display: flex; */
  padding-top: 50px;
  /* padding-left: 70px;
  padding-right: 70px; */
  padding-bottom: 60px;
}

.sorting-hotels {
  display: flex;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  background-color: #ffffff;
}

.select-control:focus-visible {
  outline: none;
  border: 2px solid;
}

.sorting-type {

}

.show-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.show-item {
  display: flex;
}

.cards-button {
  min-width: 48px;
  min-height: 48px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
  padding-inline-start: 0;
  /* margin: 0;
  padding: 0; */
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-radius: 4px;
  gap: 16px 20px;
  padding: 20px;
  width: 340px;
  box-shadow: 0px 0px 0px 1px #e5e5e5;
}

.hotel-card-link-image {
  grid-column: 1 / -1;
  color: #000000;
  text-transform: ;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-button {
  padding-left: 26px;
  padding-right: 26px;
}

.detail {
  /* color: #ffffff; */
}

.favorites-out-button {
  background-color: #82b3d3;
  padding: 8px 50px;
}

.button-rating {
  color: #333333;
  font-weight: 400;
  background-color: #f2f2f2;
}

.pagination {
  /* display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none; */

  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 8px;
list-style-type: none;
margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.pagination-item {
  display: flex;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
}

.pagination-item-current {
  color: #000000;
}

.pagination-link {
  display: flex;
  justify-content: center;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 18px;
  width: 100%;
  height: 100%;
}

.pagination-current {
  background-color: #f2f2f2;
}

.ellipsis {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding: 16px 21px;
}
