@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-decoration: none;
  margin: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  text-align: center;
  cursor: pointer;
  /* padding-top: 8px;
  padding-bottom: 8px; */
  padding: 8px;
  text-decoration: none;
  box-sizing: border-box;
  appearance: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
  outline: none;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  margin: 0 auto;
}

.padding-container {
  padding-left: 70px;
  padding-right: 70px;
}

.page-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  min-height: 64px;
  margin: 0;
}

.navigation-logo {
  width: 138px;
  height: 64px;
  position: absolute;
}

.navigation-logo:hover,
.navigation-logo:focus,
.navigation-link:hover,
.navigation-link:focus {
  opacity: 0.6;
}


.navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: 1060px;

}

.navigation-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0;
  list-style-type: none;
  padding-inline-start: 0;
  flex-wrap: wrap;
  max-width: 450px;
  margin-left: 168px;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-current:before {
  content: '';
  background-color: #756257;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: -1px;
  height: 2px;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: auto;
  flex-wrap: wrap;
  max-width: 320px;
}

.navigation-user-here {
  display: flex;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  padding: 22px 12px;
}

.navigation-user-link-search {
  background-image: url("../images/icons/search.svg");
}

.navigation-user-margin {
  margin-right: 20px;
}

.navigation-user-link-favorite {
  background-image: url("../images/icons/heart.svg");
}

.likes-number {
  position: absolute;
  padding: 5px 5px 5px 4px;
  top: 11px;
  right: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: 20px;
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  border-radius: 10px;
  background-color: #7db54f;
}

.button-link {
  padding-left: 34px;
  padding-right: 34px;
}

.button-link:not(:disabled):hover {
  background-color: #615048;
}

.button-link:not(:disabled):focus {
  background-color: #615048;
}

.main-index {
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
  background-image: url("../images/index/divider.svg"), url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  min-height: 485px;
  padding-top: 51px;
}

.arizona {
  padding: 69px 0;
  margin: 0;
}

.text-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.text-title-margin {
  margin-bottom: 20px;
}

.text-title-arizona {
  margin-bottom: 25px;
}

.text-title-search {
  max-width: 400px;
  margin-right: 130px;
}

.text-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.text-description-margin {
  margin-bottom: 54px;
}

/* List */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.information-card {
  width: 400px;
  padding-left: 70px;
  padding-right: 70px;
}

.information-card-middle {
  background: rgba(131, 179, 211, 0.12);
}

.information-card-center {
  background: rgba(131, 179, 211, 0.2);
}

.information-card-corner {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #82b3d3;
  width: 100%;
  padding: 0;
}

.information-card-corner-wraper {
  min-width: 400px;
  padding: 102px 70px;
}

.information-card-wraper {
  padding-top: 112px;
  padding-bottom: 112px;
}

.information-card-service-wraper {
  padding-top: 81px;
  padding-bottom: 81px;
}

.information-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 62px;
}

.advantages-title::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  width: 60px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: -30px;
}

.advantages-title-corner:before {
  border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.information-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.information-description-corner {
  color: #ffffff;
}

.advantages-image {
  object-fit: cover;
  height: 100%;
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*
.service-title {
  position: relative;
} */

.service-title::before {
  /* position: absolute; */
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service-title-housing::before {
  background-image: url("../images/index/advantage-icon-housing.svg");
}

.service-title-food::before {
  background-image: url("../images/index/advantage-icon-food.svg");
}

.service-title-souvenirs::before {
  background-image: url("../images/index/advantage-icon-souvenirs.svg");
}

.rest {
  padding: 64px 0;
}

.interest {
  padding: 96px 0;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.subscription {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-main-image {
  background: #E5E5E5;
  background-image: url("../images/index/subscribe-index.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  /* background-position: left bottom, left top; */
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  max-width: 684px;
  margin: 0 auto;
}

.text-description-background {
  color: #ffffff;
}

.input-text {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.newsletter-field {
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 100%;
  background-color: #f2f2f2;
  border: none;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

.button-second {
  background-color: #82b3d3;
}

.button-second:not(:disabled):hover {
  background-color: #68a2ca;
}

.button-second:not(:disabled):focus {
  background-color: #68a2ca;
}

.button-second:not(:disabled):active {}

.page-footer {
  min-height: 120px;
  display: flex;
  margin: 0;
  padding: 0 70px;
  width: 100%;
}

.page-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.social-list {
  flex-wrap: wrap;
  max-width: 200px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 10px;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  color: #83b3d3;
}

.button-icon:hover .social-icon {
  color: #68a2ca;
}

.button-icon:focus-visible .social-icon {
  color: #68a2ca;
}

.button-icon:active .social-icon {
  color: rgba(104, 162, 202, 0.3);
}

.contact {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 9px;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  text-decoration: none;
}

.partner-link {
  display: flex;
  max-width: 200px;
  padding-top: 15px;
}

.academy {
  color: #000000;
}

.footer-link:hover,
.footer-link:hover .academy,
.footer-link:focus-visible,
.footer-link:focus-visible .academy {
  color: #756157;
}

.footer-link:active,
.footer-link:active .academy {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;


}

.modal-search {
  width: 717px;

}

.button-left {}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-image: url("../images/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  background-color: #f2f2f2;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  /* opacity: 0.3; */
  background-color: #e5e5e5;
  background-image: url("../images/icons/modal-close-active.svg");
}

.modal-content {}

.modal-title {
  margin-bottom: 64px;
  max-width: 540px;
}

.modal-lable {
  display: flex;
  margin-top: 12px;
}

.booking-date {
  display: grid;
  grid-template-columns: 1fr 440px;
}

.input-date {
  font-weight: 700;
  border-radius: 4px;
  padding: 12px 20px;
  width: 440px;
  background-color: #f2f2f2;
  border: none;
}

.input-date:hover {
  background-color: #e5e5e5;
}

.input-date:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.feedback {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding: 4px 20px 23px;
}

.invalid-feedback {
  /* grid-row: 1 / -2; */
  color: #ff5757;
}

.people {
  display: flex;
  gap: 88px;
  height: 48px;
}

.quantity-group {
  display: flex;
  gap: 46px;
}

.quantity {
  display: flex;
  border-radius: 4px;
  width: 110px;
  background-color: #f2f2f2;
}

.quantity-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  width: 31px;
  margin: 0;
  padding: 14px 0;
  border: none;
  background-color: #f2f2f2;
  outline: none;
  -moz-appearance: textfield;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-minus-plus {
  width: 40px;
  border: none;
  padding: 14px 0;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: none;
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-quantity-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.button-minus-plus:hover .button-quantity-icon {
  fill: #000000;
}

.button-minus-plus:focus-visible .button-quantity-icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.button-minus-plus:active .button-quantity-icon {
  opacity: 0.2;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.quantity-group-children {
  width: 242px;
  justify-content: space-between;
}

.tooltip {
  position: absolute;
  margin-top: -25px;
  margin-left: 59px;
  /* width: 24px;
  height: 24px; */
}

.tooltip-toggle {
  display: block;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #83b3d3;
  border: none;
  padding: 7px 0;
  margin: 0;
}

.tooltip-icon {
  color: #ffffff;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  min-height: 152px;
  position: absolute;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/icons/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.button-modal {
  background-color: #83b3d3;
  width: 100%;
  border-radius: 10px;
  padding: 18px 77px;
  font-size: 20px;
  line-height: 24px;
  margin-top: 48px;
}

.hotel-search {
  background: #E5E5E5;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 35px;
  min-height: 412px;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link-image {
  background-image: url("../images/catalog/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 17px;
  min-height: 19px;
  display: flex;
}

.breadcrumbs-link-image:hover {
  opacity: 0.6;
}

.breadcrumbs-link-image:active {
  opacity: 0.3;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 23px;
  list-style-type: none;
  display: block;
}

.breadcrumbs-item::after {
  content: url("../images/catalog/breadcrumbs-item-after.svg");
  position: absolute;
  top: 0;
  right: -13px;
  width: 8px;
  height: 8px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 151px 1fr 288px 191px;
  gap: 70px;
  /* padding-bottom: 70px; */
}

.catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
  height: 23px;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 24px;
}

.catalog-filter-title-housing {
  margin-bottom: 23px;
}

.catalog-filter-title-price {
  margin-bottom: 32px;
}

.heading-4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  background-image: url("../images/icons/check.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:hover::before {
  opacity: 0.6;
}

.control:hover {
  opacity: 0.6;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:active + label::before {
  opacity: 0.3;
}

.control:active {
  opacity: 0.6;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus-visible + label::before {
  outline: 3px solid #83b3d3;
}

/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 100%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-radio:checked + label::before {
  background-color: #3f5e72;
  ;
  border: 5px solid #ffffff;
}

.custom-radio:focus-visible + label::before {
  outline: 3px solid #83b3d3;
}


.input-group {
  display: flex;
  gap: 2px;
  width: 288px;
  height: 48px;
  margin-bottom: 44px;
}

.input-container {
  position: relative;
}

.input-number {
  font-weight: 700;
  padding: 12px 20px;
  width: 143px;
  background: #f2f2f2;
  border: none;
  padding: 12px 40px 12px 20px;
  padding-right: 57px;
  -moz-appearance: textfield;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number-from {
  border-radius: 4px 0 0 4px;
}

.input-container .input-text-position {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, .3);
}

.input-number-to {
  border-radius: 0 4px 4px 0;
}

.input-number:hover {
  background-color: #e5e5e5;
}

.input-number:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #61666c;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -220px;
}

.toggle-max {
  top: -8px;
  right: 60px;
}

.button-submit {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 28px;
  margin-top: 56px;
}

.reset-button {
  background-color: transparent;
  padding-left: 57px;
  padding-right: 57px;
}

.reset-button:not(:disabled):hover {
  opacity: 0.6;
}

.reset-button:not(:disabled):focus {
  border: 3px solid #83b3d3;
}

/* .reset-button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
} */

.reset-button:disabled {
  opacity: 0.1;
}

.catalog-hotels {
  padding-top: 50px;
  padding-bottom: 60px;
}

.sorting-hotels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  padding: 12px 19px;
  padding-right: 52px;
  background-color: #ffffff;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  appearance: none;
  outline: none;
}

.select-control:not(:disabled):hover,
.select-control:not(:disabled):focus-visible {
  border-color: #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/icons/select-arrow-disabled.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: default;
}

/* .select-control:focus-visible {
  outline: none;
  border: 2px solid;
} */

.sorting-type {}

.show-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.show-item {
  display: flex;
}

.cards-button {
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
}

.button-select,
.cards-button:hover,
.cards-button:active {
  border: 2px solid #000000;
}

.cards-button:focus-visible {
  border: 2px solid #68a2ca;
}

.view-table {
  background-image: url("../images/catalog/view-table.svg");
}

.view-slideshow {
  background-image: url("../images/catalog/view-slideshow.svg");
}

.view-list {
  background-image: url("../images/catalog/view-list.svg");
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-inline-start: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  border-radius: 4px;
  gap: 16px 20px;
  padding: 20px;
  padding-bottom: 19px;
  width: 340px;
  box-shadow: 0px 0px 0px 1px #e5e5e5;
}

.hotel-card-link-image {
  grid-column: 1 / -1;
  color: #000000;
  text-transform: ;
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 10px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin: 0;
}

.hotel-card-price {
  text-align: right;
}

.hotel-card-button {
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
  align-items: center;
}

.detail {
  /* color: #ffffff; */
}

.button-favorites-out {
  padding-left: 20px;
  padding-right: 20px;
}

.button-favorite {
  background-color: #7db54f;
  padding-left: 18px;
  padding-right: 18px;
}

.button-favorite:not(:disabled):hover {
  background-color: #6c9e42;
}

.button-favorite:not(:disabled):focus {
  background-color: #6c9e42;
}

.stars {
  min-width: 140px;
  min-height: 37px;
  display: flex;
  align-items: center;
}

.stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.stars-1::before {
  width: 20px;
}

.stars-2::before {
  width: 42px;
}

.stars-3::before {
  width: 66px;
}

.stars-4::before {
  width: 89px;
}

.stars-5::before {
  width: 100px;
}

.button-rating {
  color: #333333;
  font-weight: 400;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 23px;
  padding-right: 22px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.pagination-item {
  display: flex;
  justify-content: center;
  min-height: 60px;
  min-width: 60px;
}

.pagination-item-current {
  color: #000000;
}

.pagination-link {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  padding: 11px 18px;
  width: 100%;
  height: 100%;
}

.pagination-link:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-current {
  background-color: #f2f2f2;
}

.ellipsis {
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  padding: 16px 21px;
}
